{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}

// yarn test
// jest (babel-jest)
// babel-core
// 取 babelrc配置
// 在运行测试之前，结合babel，先把代码转化一次
// 运行转化后的代码
